header
{
    background-color: #2a2040 !important;
    height: 400px;
    color: #FFF !important;
}
header h1
{
    font-size: 4rem;
}
header h3
{
    text-align: center;
}
header nav
{
    padding: 40px;
}
header nav ul
{
    margin: 0px;
    padding: 0px;
}
header nav ul li
{
    display: inline;
    margin: 10px;
}
header nav ul li a
{
    color: #FFF;
    font-weight: bold;
    font-size: 1.5em;
}
header nav ul li a:hover
{
    color: #FFF;
    text-decoration: underline;
}
main figure
{
    background: #FFF;
    transition: margin 0.3s;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 !important;
    cursor: pointer;
}
main figure.top
{
    margin-top: -90px;
}
main figure:nth-child(-n+2)
{
    animation: 0.5s ease-out 0s SectionOnLoadAnimationTop;
}
main figure:nth-child(even)
{
    /* animation: 0.5s ease-out 0.1s SectionOnLoadAnimation; */
}
main figure figcaption
{
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    width: 100%;
    color: #FFF;
    /* display: none; */
    opacity: 0;
    transition: opacity 0.5s;
}
main figure:hover figcaption
{
    display: block;
    opacity: 1;
}
main figure img
{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@keyframes SectionOnLoadAnimationTop
{
    0%{margin-top: -30px;}
    100% {margin-top: -90px;}
}