@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('global.css');

html, body
{
    background: #FFF !important;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}
#root
{
    height: 100%;
}
main
{
    width: 100%;
    height: 100%;
}

main #holder
{
    background: #FFF;
    position: relative;
    width: 100%;
    height: 100%;
}

main #holder #type-holder
{
    padding: 10px;
}
button, input[type="text"], textarea
{
    border-radius: 5px;
    border: none;
    margin: 5px 0;
    /* color: #FFF; */
    font-weight: bold;
    box-sizing: border-box;
}
button
{
    cursor: pointer;
    padding: 5px 20px;
    margin: 5px;
}
button:focus
{
    outline: none;
}
input[type="text"], textarea
{
    outline: none;
    color: #444444;
    width: 100px;
    padding: 5px 10px;
}
.theme-green-bg
{
    background: #1abc9c;
    color: #FFF;
}
.theme-green-color
{
    color: #1abc9c;
}
.theme-red-bg
{
    background: tomato;
    color: #FFF;
}
.theme-red-color
{
    color: tomato;
}
#overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}