@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('global.css');

html, body
{
    background: #1abc9c;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}
main
{
    width: 100%;
}
main nav
{
    background: #FFF;
    padding: 20px 10px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    align-self: flex-start;
}
main nav ul
{
    padding: 0;
    margin: 0;
}
main nav ul li
{
    list-style-type: none;
    padding: 5px;
}
main nav ul li a
{
    color: #545454;
    text-decoration: none;
    font-weight: bold;
}
main nav ul li a:hover
{
    color: #1abc9c;
    text-decoration: underline;
}

main section
{
    background: #FFF;
    padding: 20px;
    top: 10px;
    position: relative;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

#new-collection-button
{
    padding: 10px 30px;
    background: #1abc9c;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
}

table
{
    width: 100%;
    border-collapse: collapse
}
table thead tr td, table tfoot tr td
{
    font-weight: bold;
}
table tbody tr:hover
{
    cursor: pointer;
    color: #FFF;
    background: rgba(26, 188, 156, 0.5);
}
table thead tr td
{

}
table tbody tr td, table thead tr td, table tfoot tr td
{
    padding: 10px;
}
table tfoot tr td
{
    border-bottom: none !important;
}
#edit-page-form
{
    flex-grow: 1;
}
#edit-page-form input, textarea, #save, #delete
{
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#edit-page-form input
{
    font-size: 1.1em;
}
#edit-page-form textarea
{
    resize: vertical;
    min-height: 250px;
}
#save
{
    width: 100px;
    background: #1abc9c;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}
#delete
{
    width: 100px;
    background: tomato;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
#edit-page-form #settings
{
    min-width: 40%;
    padding: 10px;
    margin-left: 10px;
}