@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('global.css');

html, body
{
    background: #1abc9c;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}
h1
{
    color: #545454;
}
main
{
    height: 100%;
}
#form-holder
{
    width:450px;
    margin-top: 250px;
    padding: 25px;
    background: white;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #0000007a;
}
#form-holder p a
{
    text-decoration: none;
    color: #545454;
    font-size: 0.8em;
}
#form-holder p a:hover
{
    text-decoration: underline;
}
input, button
{
    display: block;
    margin: 2px 0;
    border: none;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: #8080801f;
    border-radius: 10px;
    outline: none;
}
button
{
    margin-top: 20px;
    background: #2980b9;
    color: #FFF;
    box-sizing: content-box;
    font-size: 1.1em;
}
button:hover
{
    cursor: pointer;
}
