header
{
    width: 100%;
    height: 50px;
    background: rgb(55,64,80);
    padding: 0 10px;
}
header #search input[type='search']
{
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 250px;
}
header #user-display
{
    width: 100%;
    justify-content: flex-end;
}
header #user-display figure
{
    padding: 0;
}
header #user-display figure img
{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 10px;
}
header #user-display figure figcaption
{
    color: #FFF;
}
header #user-display figure figcaption span
{
    font-size: 0.8em;
    text-align: center;
}
header #user-display figure figcaption strong, span
{
    display: block;
}
header .logo
{
    text-align: center;
    color: #FFF;
    min-width: 210px;
}
header .logo strong
{
    font-size: 2em;
    color: #1abc9c;
    display: inline !important;
}
header .logo span
{
    font-size: 1em;
    display: inline !important;
}